[submodule "ext/vim/pathogen"]
	path = ext/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "ext/vim/gmarik-vundle"]
	path = ext/vim/gmarik-vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vundle"]
	path = ext/vim/vundle
	url = https://github.com/gmarik/vundle.git
